body{
	background-color: #FFF0F5;
	margin: 0;
}

#chevron{
	height: 209px;
	padding: 0px;
	margin: 0, auto;
	background-image: url('../img/bg_header.jpg');
    background-repeat: repeat-x;
}
/*----------------------------------NAVIGATION---------------------------------------------*/
#nav ul { 
	margin: 0px; 
	padding: 7px; 
	list-style-type: none; 
	text-align: center; 
	background-color: #60dfe5;
	border-style:solid;
	border-width:3px;
	border-color: #663399; 
	
	} 
#nav ul:after{
	clear:both;
	display: table;
	content: "";
}
 
#nav ul li {  
	float: left;
	display: inline; 
	font-family: "Pacifico", cursive;
	} 
 
#nav ul li a { 
	height: 60px;
	text-decoration: none; 
	padding: .2em 1em; 
	color: #663399; 
	background-color: #60dfe5;
	font-size: 30px; 
	float: left;
	margin: 0px 25px;
	} 
 
#nav ul li a.logo{
	background-repeat: no-repeat;
	display: block;
	padding: 0;
	background-color: #fff;
} 

.clearfix{
	*zoom: 1;
}

.clearfix:after{
	content: "";
	clear: both;
	display: table;
}
 
#nav ul li a:hover { 
	color: #60dfe50; 
	background-color: #60dfe5; 
	} 
/*-------------------------------------------HOME PAGE-----------------------------------------------------*/
h1{
	font-family:"Pacifico", cursive;
	font-size:163px;
	text-align: center;
	color: #663399;
	font-weight:normal;
	font-style: normal;
	line-height: 10px;
	margin: 50px;
}

.cg{
	margin-top: 150px;
}

h4{
	font-family: "Rokkitt", serif;
	font-size: 70px;
	font-weight:normal;
	color: #d4bbe2;
	margin-left: 200px;
	margin-bottom: 20px;
	margin-top: 70px;
}

.okc{
	text-align: center;
	font-size: 60px;
	margin: 70px auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto
}
/*--------------------------------------------Our Story-----------------------------------------------------*/
h2{
	font-family: "Pacifico", cursive;
	color: #663399;

}
p{
	font-family: "Oxygen", sans-serif;
}


#callie, #grant{
	margin: 50px;
	width: 430px;
	height: 400px;
	background-color: #FFF;
	float: left;
	padding: 25px;
}

#callie img, #grant img{
	float: left;
	padding-right: 15px;
}

#met{
	clear: both;
	padding: 15px;
}

#met, #proposal{
	width: 915px;
	height: 350px;
	background: white;
	margin: 50px;
}

#met img, #proposal img{
	float: left;
	padding: 15px;
}

img.second{
	clear: right;
}

/*--------------------------------------------Our Story-----------------------------------------------------*/
#ceremony{
	width: 860px;
	height: 370px;
	margin: 100px;
}

#ceremony p{
	font-size: 14px;
}


#ceremony img{
	float: right;
}

#ceremony h2{
	font-size: 48px;
	margin: 0 auto;
}

#church p{
	color: #d4bbe2;
	font-size: 17px;
	line-height: 18px;
	margin: 0 auto;
	margin-top: -10px;
	padding: 5px;
}

#church{
	margin-left: 45px;
}

#ceremony a{
	color: #d4bbe2;
	font-size: 18px;

}

#wedding_party{
	clear: both;
	position: absolute; 
	width: 865px;
	height: 800px;
	background-color: white;
	text-align: center;
	padding: 30px;
	margin-left: 100px;
}

#wedding_party h2{
	font-size: 48px;
	margin: 0 auto;
}

h5{
	font-family: "Oxygen", sans-serif;	
	font-size: 24px;
	font-weight: normal;
	line-height: 26px;
	margin: 0 auto;
}

h6{
	font-family: "Pacifico", cursive;
	font-size: 18px;
	margin: 0 auto;
}

#kirsten, #laura, #brad, #sam, #steph{
	width: 120px;
	height: 200px;
	float: left;
	margin: 26px;
}

#mike{
	clear: both;
	float: left;
	margin: 26px;
}

#erik, #forrest, #terry, #peter{
	float: left;
	margin: 26px;
}

#olivia{
	clear: both;
	float: left;
	margin: 26px;
	margin-left: 275px;
}

#paige{
	float: left;
	margin: 26px;
	margin-right: 100px;
}
